<div class="col-sm-2">
    <div class="row">
        {% load staticfiles %}
        <img class="border-right border-secondary img-fluid" src="{% static 'img/avatar.svg' %}" width="128">
    </div>
    <div class="row border-top border-secondary">
        <div class="col-sm-6 border-right border-secondary">
            <div class="text-center text">
                7
            </div>
        </div>
        <div class="col-sm-6 border-right border-secondary">
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-top.svg' %}" width="16">
                </a>
            </div>
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-bottom.svg' %}" width="16">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-10">
    <p>
        Question answer
    </p>

    <div class="row">
        <div class="checkbox">
            <label><input type="checkbox" value="" class="ml-3"> Correct</label>
        </div>
    </div>

</div>