<div class="col-sm-3">
    <div class="row m-2 border border-secondary">
        <img class="img-fluid" src="{{ answer.author.avatar.url }}" alt="{{ answer.author.avatar.url }}">
    </div>
    <div class="row m-2 border border-secondary">
        <div class="col-sm-6 border-right border-secondary">
            <div class="text-center text">
                {{ amswer.votes }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <a class="mx-auto" href="#">
                    {% load staticfiles %}
                    <img src="{% static 'img/arrow-top.svg' %}" width="16">
                </a>
            </div>
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-bottom.svg' %}" width="16">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-9">
    <p>
        {{ answer.content }}
    </p>

    <div class="row">
        <div class="checkbox">
            <label><input type="checkbox" value="" class="ml-3"> Correct</label>
        </div>
    </div>

</div>