<nav class="navbar navbar-default bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Ask ZUB</a>
        <form class="navbar-form">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="ask me a question">
                <div class="input-group-btn">
                    <a href="{% url 'ask:ask' %}"><button class="btn btn-outline-success my-2 my-sm-0">Ask</button></a>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'ask:login' %}"><span class="button">Login</span></a>
            </li>
            <li>
                <a href="{% url 'ask:signup' %}"><span class="button">Sign Up</span></a>
            </li>
        </ul>
    </div>
</nav>