<div class="col-sm-3">
    <div class="row m-2 border border-secondary">
        <img class="img-fluid" src="{{ question.author.avatar.url }}" alt="{{ question.author.avatar.url }}">
    </div>
    <div class="row m-2 border border-secondary">
        <div class="col-sm-6 border-right border-secondary">
            <div class="text-center text">
                {{ question.rating }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <a class="mx-auto" href="#">
                    {% load staticfiles %}
                    <img src="{% static 'img/arrow-top.svg' %}" width="16">
                </a>
            </div>
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-bottom.svg' %}" width="16">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-9">
    <h2><a href="{% url 'ask:question' question_id=question.id %}">{{ question.title }}</a> </h2>
    <p>
        {{ question.content }}
    </p>

    <ul class="list-inline">
        <li>
            Tags:
            {% for tag in question.tag_set.all %}
                <a
                    href="/">{{ tag.name }}{% if not forloop.last %},{% endif %}
                </a>
            {% endfor %}
        </li>
    </ul>

</div>