<div class="col-sm-2">
    <div class="row">
        {% load staticfiles %}
        <img class="border-right border-secondary img-fluid" src="{% static 'img/avatar.svg' %}">
    </div>
    <div class="row border-top border-secondary">
        <div class="col-sm-6 border-right border-secondary">
            <div class="text-center text">
                5
            </div>
        </div>
        <div class="col-sm-6 border-right border-secondary">
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-top.svg' %}" width="16">
                </a>
            </div>
            <div class="row">
                <a class="mx-auto" href="#">
                    <img src="{% static 'img/arrow-bottom.svg' %}" width="16">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-10">
    <h2><a href="{% url 'ask:question' %}">Question title</a> </h2>
    <p>
        Question text
    </p>

    <ul class="list-inline">
        <li>
            Tags:
            <a href="/">tag1</a>
            <a href="/">tag2</a>
        </li>
    </ul>

</div>