{% extends "extends/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-6">
                <a href="{{ questions_switcher.href }}"><h4>{{ questions_switcher.title }}</h4></a>
            </div>
        </div>

        {% for question in questions_to_show %}
            <div class="row border border-secondary my-2">
                {% include "includes/question_unit.html" with question=question %}
            </div>
        {% endfor %}
    </div>

    {% include "includes/pagination.html" with items=questions_to_show %}
{% endblock %}