{% extends "extends/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row border border-secondary">
            {% include "includes/question_unit.html" %}
        </div>

        <hr style="height: 2px; background-color: black">

        {% for answer in answers %}
            <div class="row border border-secondary my-2">
                {% include "includes/answer_unit.html" %}
            </div>
        {% endfor %}

        {% include "includes/pagination.html" with items=answers %}

        <div class="row">
            <form action="{% url 'ask:question' question_id=question.id %}" novalidate method="post">
                {% csrf_token %}
                {% include "includes/render_form.html" %}
                <button type="submit" class="btn btn-primary">Answer</button>
            </form>
        </div>
    </div>
{% endblock %}