{% extends "extends/base.html" %}

{% block content %}
    <div class="container-fluid offset-3">
        <div class="row m-auto">
            <h2 class="text-center">Registration</h2>
        </div>

        <form action="{% url 'ask:signup' %}" method="post" enctype="multipart/form-data" class="mt-2">
            {% csrf_token %}
            {% include "includes/render_form.html" %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
{% endblock %}